name: Multi Env

on:
    workflow_dispatch:
jobs:
    deploy_QA:
        runs-on: ubuntu-latest
        environment: QA
        steps:
        - uses: actions/checkout@v4

        - name: Deploy to server
          uses: easingthemes/ssh-deploy@main
          with:
              sshPrivateKey: ${{ secrets.SSH_PRIVATE_KEY }}
              source: "./main_QA.py"
              remoteHost: ${{ env.REMOTE_HOST }}
              remoteUser: root
              remotePort: 22
              target: /www/wwwroot/test/main_QA.py
              scriptAfter: |
                pkill -f 'python /www/wwwroot/test/main_QA.py'
                nohup python /www/wwwroot/test/main_QA.py &

    deploy_STG:
        runs-on: ubuntu-latest
        environment: STG
        steps:
        - uses: actions/checkout@v4

        - name: Deploy to server
          uses: easingthemes/ssh-deploy@main
          with:
              sshPrivateKey: ${{ secrets.SSH_PRIVATE_KEY }}
              source: "./main_STG.py"
              remoteHost: ${{ env.IP_ADDRESS }}
              remoteUser: root
              remotePort: 22
              target: /www/wwwroot/test/main_STG.py
              scriptAfter: |
                pkill -f 'python /www/wwwroot/test/main_STG.py'
                nohup python /www/wwwroot/test/main_STG.py &




    deploy_PROD:
        runs-on: ubuntu-latest
        environment: PROD
        steps:
        - uses: actions/checkout@v4

        - name: Deploy to server
          uses: easingthemes/ssh-deploy@main
          with:
              sshPrivateKey: ${{ secrets.SSH_PRIVATE_KEY }}
              source: "./main_PROD.py"
              remoteHost: ${{ env.IP_ADDRESS }}
              remoteUser: root
              remotePort: 22
              target: /www/wwwroot/test/main_PROD.py
              scriptAfter: |
                pkill -f 'python /www/wwwroot/test/main_PROD.py'
                nohup python /www/wwwroot/test/main_PROD.py &